# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
output/

# C++
*.o
*.obj
*.so
*.dylib
compile_commands.json

# Editors
.vscode/
.idea/
.cursor/
*.swp
*.swo

# Logs
*.log
